/*Обнуление*/
*{padding:0;margin:0;border:0;font-family:sans-serif;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:sans-serif;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li{list-style:none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}
/*--------------------*/
.page{
    background-color: #f5f5f5;
}
header{
    background-color: #ffffff;
    height: 75px;
}
.contaner{
    display:flex;
    max-width: 1070px;
    margin: 0 auto;
    /* background-color: aqua; */
}
.block{
    display: flex;
    flex: 0 1 50%;
    margin-top: 10px;

}
.b1{
    padding-left: 5px;
}
.b2{
    justify-content:flex-end;
    padding-right: 5px;
}
.b1 .element{
    padding-right: 15px;
}
.b2 .element{
    /* padding-left: 30px; */
}
.korzina{
    background-color: #ff4500;
    padding: 5px;
    border-radius: 5px;
    color: #ffffffe6;
}
.korzina p{
    display: inline-block;
    padding-top: 5px;
}
.accaunt{
    padding-left: 20px;
    text-align: center;
}
.logo{
    font-size: x-large;
}
footer{
    background-color: #f5deb3;
    height: 50px;
}
.menu{
    flex-direction:column;
}
.nav{
    height: 100px;
    padding-top: 15px;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-between;
}
.elem_nav{
    padding-top: 10px;
    text-align: center;
    background-color: #ffffff;
    height: 70px;
    width: 90px ;
    border-radius: 5px;
    display:flex;
    flex-direction:column;
}
.nav img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
.nav p {
    padding-top: 5px;
}
.spec{
    height: 300px;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-between;
}
.spec .elem{
    background-color: #ffffff;
    height: 250px;
    width: 220px ;
    color: #ffffff;
    border-radius: 10px;
    font-size: large;
    padding: 195px 0 0 20px;
    text-align: ;
}
.spec .elem1{
    background-image: url(./img/3pizza.jpg);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: auto 100%;
}
.spec .elem2{
    background-image: url(./img/cashback.jpg);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: auto 100%;
}
.prov_addres{
    background-color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    display:flex;
    flex-direction:row;
    align-items:center;
}
.prov_addres .elem2{
    flex-grow:1;
    border: 1px solid #00000033;
    padding: 5px;
}
.prov_addres .elem1{
    margin: 0px 0px 0px 15px;
}
.prov_addres .elem3 input{
    flex-basis:40%;
    background-color: #ff4500;
    padding: 5px 15px 5px 15px;
    border-radius: 3px;
    color: #ffffffcc;
}
.prov_addres .elem{
    padding-left: 5px;
    padding-right: 5px;
    
}
.pizza_bar{
    display: flex;
    flex-direction:column;
}
.pizza_bar .navig{
    display: flex;
    height: 50px;
    align-items:center;
}
.pizza_bar .navig .elem1{
    font-size: x-large;
    font-weight: bold;
}
.pizza_bar .navig .elem2{
    flex-basis:90%;
    
}
.pizza_bar .navig .elem3{
    background-color: #ffffff;
    padding: 10px;
    border-radius: 3px;
    display: inline-flex;

}
.pizza_bar .navig .elem3 p {
    padding-left: 5px;
}
.pizza_bar .content{
    display: flex;
    height: 400px;
    align-items:center;
    justify-content:space-between;
}
.pizza{
    background-color: #ffffff;
    height: 370px;
    max-width: 240px;
    border-radius: 5px;
    display: flex;
    flex-direction:column;
}
.pizza .photo{
    flex-basis:70%;
    margin: 2%;
    background-repeat: round;
    max-height: 240px;
}
.pizza .name{
    flex-basis:10%;
    margin: 2%;
    margin-top: 0;
    font-size: medium;
    font-weight: bold;
}
.pizza .sostav{
    flex-basis:10%;
    margin: 2%;
    margin-top: 0;
    font-size: small;
    color: #00000099;
}
.pizza .bottoms{
    flex-basis:10%;
    margin: 2%;
    margin-top: 0;
    display: flex;
    align-items:center;
}
.pizza .bottoms .price{
    flex-basis:60%;
    text-align: end;
    align-items:center;
    color: #ffa500;
    font-weight: bold;
}
.pizza .bottoms input{
    flex-basis:40%;
    background-color: #ff4500;
    padding: 5px;
    border-radius: 3px;
    color: #ffffffcc;
}
.red-button{
    background-color: #ff0000;
    color: #2CE660;
}
.blue-button{
    background-color: #0000ff;
    color: #E6C42C;
}
.color-button{
    padding: 10px;
    font-size: x-large;
}